{{ $paginator := .Paginator }}
{{ if .IsHome }}
  {{ $posts := where .Site.RegularPages "Section" "blog" }}  <!-- Assuming 'blog' is the section for posts -->
  {{ $paginator := .Paginate ($posts) }}
{{ else }}
  {{ $currentSection := .Section }}
  {{ $posts := where .Site.Pages "Section" $currentSection }}
  {{ $paginator := .Paginate ($posts) }}
{{ end }}
<div class="cards" id="results">
    {{ range .Paginator.Pages }}
        <div class="card">
            <a href="{{ .Permalink }}">
                {{ with .Params.image }}
                    <img src="{{ . }}" alt="{{ $.Title }}">
                {{ else }}
                    {{ partial "randImage" . }}
                {{ end }}
                <div class="text">
                    <h2>{{ .Title }}</h2>
                    <p class="small">{{ .Summary }}
                    </p>
                </div>
            </a>
        </div>
    {{ end }}
</div>
<!-- Pagination links -->
{{ if gt $paginator.TotalPages 1 }}
    <div class="pagination">
        {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}">before</a>
        {{ else }}
            <p></p>
        {{ end }}
        <div class="pages">
            {{ range $paginator.Pagers }}
                <a href="{{ .URL }}"{{ if eq . $paginator }} class="active"{{ end }}>{{ .PageNumber }}</a>
            {{ end }}
        </div>
        {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}">more</a>
        {{ else }}
            <p></p>
        {{ end }}
    </div>
{{ end }}
