<div class="blog-cards">
    {{ range .Paginator.Pages }}
        <div class="card">
            <a href="{{ .Permalink }}">
                {{ with .Params.image }}
                    <img src="{{ . }}" alt="{{ $.Title }}">
                {{ else }}
                    {{ partial "randImage" . }}
                {{ end }}
                <div class="text">
                    <h2>{{ .Title }}</h2>
                    <p class="small">{{ .Summary }}
</p>
                </a>
            </div>
        </div>
    {{ end }}
</div>
